// Typography
body {
  font-family: 'Montserrat', helvetica, sans-serif; // critical
  font-size: 16px;  // establish rem basis
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media print {
    font-size: 11pt;
  }

}

p,
li,
h1,
h2,
h3 {
  max-width: 70ch;
}

p,
li {
  //font-size: 1rem;

  @media print {
    font-size: 10pt;
  }

}

p {
  line-height: 1.5;
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}

.f_smallest {
  font-size: 12px;

  @media print {
    font-size: 8pt;
  }

}

.f_small {
  font-size: 0.875rem;
}

.f_large {
  font-size: 1.25rem;
  font-weight: 500;

  @media print {
    font-size: 12pt;
  }

}

.f_larger {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5em;

  @media print {
    font-size: 14pt;
  }

}

.f_largest {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.25em;
}

.nowrap {
  white-space: nowrap;
}

.not-print {

  @media print {
    display: none !important;
  }

}

.hidden-keywords {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  font-style: italic;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;

  &:focus {
    background-color: #eee;
    clip: auto;
    clip-path: none;
    display: inline;
    height: auto;
    position: relative;
    width: auto;
  }

}


// Color
  // Default to light unless dark is preferred

body {
  background-color: $c_white;
  color: $c_dark-base;

  @media print {
    background-color: #fff;
  }

  main {
    background-color: #fff;
  }

  a {
    color: $c_primary-dark;

    &:hover {
      color: $c_accent-dark;
    }

  }

}


// Main Container
main {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0.5rem 3%;
  position: relative;

  @media print {
    margin: 0.25cm 0 0;
    max-width: 100%;
    padding: 0;
    width: 100%;
  }

}


// Lists
li {
  line-height: 1.25;
  margin-bottom: 0.75em;
}

ul {
  margin-bottom: 1.75em;
  padding: 0 0 0 1.75em;

  &.flex-list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding-left: 0;

    li {
      margin: 0;

      &:not(:first-child) {

        &::before {
          content: '•';
          font-weight: 700;
          margin: 0 0.375em;
        }

      }

    }

  }

}


// Buttons
*[class^="btn_"] {
  background-color: $c_primary-dark;
  border-radius: 2em;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  padding: 0.75em 1.25em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: $c_accent;
    color: #fff;
  }

}

// Primary CTA
.cta-container {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 12px;
}


// PDF Download
.pdf-download {
  float: right;

  .down-arrow {
    color: $c_primary-dark;
    font-weight: 700;
  }

}


// Details Expanders
details {
  margin: 2em 0 2em 1rem;
  max-width: 800px;

  summary {
    align-items: start;
    cursor: pointer;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5em;
    list-style: none;
    margin-bottom: 0.5em;

    &::before {
      content: '▶︎';
      width: 1em;
      flex-shrink: 0;
      transition: 0.3s;
    }

    &:hover {

      &::before {
        color: $c_accent;
      }

    }

    * {
      display: inline;
    }

    > * {
      padding: 0;
      width: calc(100% - 2em);
    }

  }

  &[open] > summary::before {
    transform: rotate(90deg);
    transform-origin: 40% 45% 0;
  }

  // consistent indentation
  summary > div,
  div[itemprop="description"] {
    box-sizing: content-box;
    padding-left: 2em;
  }

  .job-summary {
    border-top: 1px solid $c_primary-dark;
    padding-top: 0.5em;
  }

}


// Quotes
blockquote::before,
blockquote::after {
  font-size: 1.25em;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

blockquote,
figcaption {
  margin-left: 2em;
  max-width: 800px;
}

blockquote {
  font-size: 1.125em;
  margin-bottom: 0.5em;
  margin-left: 2rem;
  quotes: "“" "”" "‘" "’";
  text-indent: -1rem;

  * {
    display: inline;
  }

}

figcaption {
  margin-bottom: 2.5rem;
}

@supports ( hanging-punctuation: first) {

  blockquote {
    margin-left: 1rem;
    text-indent: 0;
    hanging-punctuation: first;
  }

}


// Sections
header {
  border-bottom: 4px solid $c_primary-dark;
  margin-bottom: 1.5rem;
}

section {
  margin-bottom: 1.5rem;

  &.introduction {
    max-width: 800px;

    .f_large {
      font-weight: 400;
    }

  }

  &.work-experience {

    summary {
      justify-content: space-between;
      list-style: none;
      margin-bottom: 0.5em;

      h4,
      > div {
        align-items: baseline;
        display: flex;
        justify-content: space-between;
      }

    }

    details ul {
      //page-break-inside: avoid;
    }

  }

  &.education {

    p {
      margin-left: 3em;
    }

  }

  &.skills {

    @media print {
      display: none;
    }

    summary {
      gap: 1em;
    }

  }

  &.references {
    page-break-after: avoid;
    page-break-before: auto;
    page-break-inside: avoid;

    .references-intro {
      margin-bottom: 2rem;
    }

  }

}

footer {
  border-top: 4px solid $c_primary-dark;
  margin-top: 2rem;
  padding-top: 0.5rem;
  page-break-before: avoid;
}
